body {
    font-family: Arial;
    background: #f5f5f5;
    margin: 0;
}

/* Banner */
.banner {
    text-align: center;
    margin: 30px 0;
}

.banner img {
   width: 95%;
    max-width: 1200px;
    border-radius: 15px;
}

/* Tiêu đề */
.page-title {
    text-align: center;
    color: #d63384;
}

/* Danh sách sản phẩm */
#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Card sản phẩm */
.product-item {
     width: 300px;
    background: white;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

.product-item:hover {
    transform: translateY(-5px);
}

.product-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;

    border-radius: 10px;
    border: 1px solid #ccc;
}

/* Nd sản phẩm */
.product-info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-weight: bold;
    text-align: center;
}

.price {
    font-weight: bold;
    color: #d56563;
}

.desc {
    font-size: 16px;
    color: #777;
    text-align: center;
}

/* Nút */
.product-info a {
     display: block;
    text-align: center;
    background: #f195c3;
    padding: 8px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.product-info a:hover {
    background: #73b8df;
    color: white;
}

/* Footer */
.footer{
    background: #fff;
    padding: 20px 20px;
    box-shadow: 0 -6px 25px rgba(0, 0, 0, 0.25);
}

/* Logo */
.footer-logo{
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #eee;
    padding: 10px 20px;
}

.footer-logo img{
    width: 200px;
    display: block;
    margin: 0 auto;
   
}

/* Menu */
.footer-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

/* List */
.footer-column ul{
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column a{
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.footer-column a:hover{
    color: #f195c3;
}

.footer-column p{
    margin: 5px 0;
}

.contact-btn{
    background: #f179b5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.contact-btn:hover{
    background: #5978e9;
}

.contact-info{
    display: none;
    margin-top: 15px;
}

.footer-topbar{
    background: #f195c3;
    color: white;
    text-align: center;
    padding: 12px;
    margin: auto;
    font-weight: bold;
    letter-spacing: 1px;
    margin: -20px -20px 20px -20px;
    border-radius: 10px 10px 0 0;

}
.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    margin-top: 50px;
}