/*  CƠ BẢN  */
body {
    font-family: Arial, sans-serif;
	font-size: 20px;
    margin: 30px;
    background-color: #f4f6f8; /* màu xám nhạt */
}

/* Tiêu đề */
h1, h3 {
    text-align: center;
    color: #333;
}

/* MENU */
.menu {
    text-align: center;
    margin: 20px 0;
}

.menu button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
}

.menu button:hover {
    background-color: pink;
}

/* SECTION */
.section {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
	line-height: 1.6;
 
}

/* Ẩn section */
.hidden {
    display: none;
}

/*BẢNG*/
table {
    border-collapse: collapse;
    margin: 10px auto;
    width: 90%;
}

table, th, td {
    border: 1px solid #FF1493;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: pink;
    color: white;
}

/* ẢNH */
img {
    border-radius: 5px;
}

/* DANH SÁCH */
ul, ol {
    width: 60%;
    margin: 10px auto;
}

/* TIỆN ÍCH */
.center {
    text-align: center;
}

/* không gạch chân link*/
a {
    text-decoration: none;
}

/* màu link nè=))*/
.pink-link {
    color: #FF1493;
}