body{
    font-family: Arial, Helvetica, sans-serif;
}

table{
    border-collapse: collapse;
    width: 800px;
    margin: 20px auto;
}

th, td{
    border: 1px solid rgb(129, 39, 54);
    padding: 8px;
    text-align: center;
}

th{
    background-color: #cef8fa;
}
